<!-- 作为module时，使用此清单文件 -->
<!-- 在module_homepage build.gradle中配置 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fxp.module_homepage">

    <application
        android:name=".HomePageApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_launcher_homepage"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_launcher_homepage"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
