<?xml version="1.0" encoding="utf-8"?>
<!-- 作为library时，使用此清单文件 -->
<!-- 在module_homepage build.gradle中配置 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fxp.module_homepage">

    <application>
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="com.fxp.module_homepage.activity.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.PersonalInfoActivity"
            android:theme="@style/TranslucentTheme">
            <intent-filter>
                <action android:name="com.fxp.module_homepage.activity.PersonalInfoActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>